<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Simple Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
  <script src="../static/js/rsa.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"> </script>
  <script type="text/javascript">
    //use jsencrypt class library to encrypt js method,    
    function encryptrequest(requrl, data) {
      publickey = "YOUR_PUBLIC_KEY";
      privatekey = "YOUR_RSA_PRIVATE_KEY";

      var encrypt = new JSEncrypt();
      encrypt.setPublicKey(publickey);

      //The data object sent by the ajax request
      var senddata = new Object();

      //Assign the data array to the ajax object
      for (var key in data) {
        senddata[key] = encrypt.encrypt(data[key]);
      }
      $.ajax({
        url: requrl,
        type: "post",
        data: senddata,
        datatype: "json"

      }
      );
    }

    function base64url(source) {
      // Encode in classical base64
      encodedSource = CryptoJS.enc.Base64.stringify(source);

      // Remove padding equal characters
      encodedSource = encodedSource.replace(/=+$/, '');

      // Replace characters according to base64url specifications
      encodedSource = encodedSource.replace(/\+/g, '-');
      encodedSource = encodedSource.replace(/\//g, '_');

      return encodedSource;
    }


    //call this code when the page is done loading.
    $(function () {
      $("#testme").click(function () {
        var data = [];
        var header = {
          "alg": "HS256",
          "typ": "JWT"
        };

        var stringifiedHeader = CryptoJS.enc.Utf8.parse(JSON.stringify(header));
        var encodedHeader = base64url(stringifiedHeader);

        var data = {
          "username": $('#username').val(),
          "passwd": $('#passwd').val()
        };

        var stringifiedData = CryptoJS.enc.Utf8.parse(JSON.stringify(data));
        var encodedData = base64url(stringifiedData);



        var token = encodedHeader + "." + encodedData;

        document.getElementById('token').value = token;

        data["username"] = $("#username").val();
        data["passwd"] = $("#passwd").val();
        data["token"] = token;



        encryptrequest("/", data);
      });
    });
  </script>

  <style>
    .login-form {
      width: 340px;
      margin: 50px auto;
    }

    .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
    }

    .login-form h2 {
      margin: 0 0 15px;
    }

    .form-control,
    .btn {
      min-height: 38px;
      border-radius: 2px;
    }

    .btn {
      font-size: 15px;
      font-weight: bold;
    }
  </style>
</head>


<body>
  <div class="login-form">

    <form action="/" method="post">


      <h2 class="text-center">Log in</h2>
      <div class="form-group">
        <input class="form-control" id="username" name="username" type="text"></input>
      </div>
      <div class="form-group">
        <input class="form-control" id="passwd" name="passwd" type="password"></input>
      </div>

      <div class="form-group">
        <input class="form-control" type="hidden" id="token" name="token"></input>
      </div>
      <div class="form-group">
        <input class="btn btn-primary btn-block" type="button" value="submit" id="testme" />
      </div>

      <div class="clearfix">
      </div>

    </form>

    <p class="text-center"><a href="register">Create an Account</a></p>

  </div>

</body>

</html>